<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
<body><h1>Menu del dia</h1>
<p>
  <strong>Fecha:</strong>
  <%= @menu.fecha %>
</p>
<p>
  
  <% @menu.productos %>
</p>
<% @tipos.each do |t| %>
      <p><label><%= t.nombre %></label></p>
	<% @menu.productos.each do |producto| %>
  		<%if producto.tipo && producto.tipo.nombre==t.nombre %>        
          <div class="field">
            <p><%= producto.nombre if producto %></p>            
          </div>
          <br>
        <%else%>
      
   		<%end%>

	<%end%>
<%end%>
</body>
</html>