<h1> Grafica:  Bebidas mas consumidas</h1>

<table>

<tr><td><div> <br></div> 	</td></tr>

<tr><td><%= image_tag @bebidasPie %></td></tr>
<tr><td><div> <br></div> 	</td></tr>
<tr><td><div><%= link_to 'Volver', { :controller => :bi, :action => :index }, class: 'btn btn-default btn-lg btn-block' %></div> 	</td></tr>

</table>