<h2>Modulo de Business Intelligence</h2>


 
</br>
<div>
  <ul class="list-unstyled">

    <div >
    <li class><%= link_to 'Exportar consumos a GNS', { :controller => :gns, :action => :index }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
   
    
    </div>

    </ul>
    </div>


 <%= render 'footer' %>