<h2>Modulo de Business Intelligence</h2>


 
</br>
<div>
  <ul class="list-unstyled">

    <div >
    <li class><%= link_to 'Exportar consumos a GNS', { :controller => :gns, :action => :index }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
   <li class><%= link_to 'Grafica de barras prueba', { :controller => :bi, :action => :grafica_1 }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
    
    
    </div>

    </ul>
    </div>
<div class="col-md-12">
  <div class="btn-group btn-group-justified">
    
  
    <%= link_to 'Volver', root_path, class: 'btn btn-default' %>

  </div>
  </br>

 <%= render 'footer' %>