<tr>
  <td><%= ventum.menu.fecha if ventum.menu %></td>
  <td><%= ventum.bebida.nombre if ventum.bebida %></td>

  <td>
  <div class="btn-group">
    <%= link_to '', ventum, class: 'btn btn-success btn-sm glyphicon glyphicon-eye-open', :title => "Ver"'' %>
    <%= link_to '', edit_ventum_path(ventum), class: 'btn btn-default btn-sm glyphicon glyphicon-pencil', :title => "Editar" %>
    
  </div>
  </td>
</tr>