
<div class="section-container--header row">
  <div class="col-md-10 col-xs-8">
    <h1>Bienvenido al comedor de Cafeterix</h1> 
    
  </div>
</div>

<% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
</br>
<div class="panel-body form-group">
<%= form_for(:cedula, url:{:controller => 'barcode', :action => 'new'}) do |f| %>
      <div class="panel-body form-group  ">
      <p><label><h3>Por favor, pasar la tarjeta por el lector</h3></label></p>
      <%= f.text_field :ci, class: 'form-control', :autofocus => true, :autocomplete => :off %>
    	
 		</div>
        <div class="col-md-12">
      <div class="btn-group btn-group-justified">
        
        
        
      </div>
    </div>
  </div>
<% end %>
 </div>
 
<br>
<div class="col-md-12">
  <div class="btn-group btn-group-justified">
    <%= link_to "Cancelar", { :controller => :barcode, :action => :index }, class: 'btn btn-info btn-lg' %>

  </div>
</div>