 
 <div class="col-md-12">
 <div class="info" >

 <%= @message %>
 
 </div>
 	</br>
      <div class="btn-group btn-group-justified">        
        
        <%= link_to "Salir", { :controller => :barcode, :action => :index }, class: 'btn btn-info btn-lg' %>
        
        
      </div>
    </div>