<tr>
  <td><%= compra.id if compra%></td>
  <td><%= compra.fecha if compra%></td>
  
  <td>
  <div>
  <div class="btn-group ">
  <% if @div_usuario %>
  
    <%= link_to '',compra, class: 'btn btn-success btn-sm glyphicon glyphicon-eye-open', :title => "Ver" %> 
  
    
  <% end %>
  <% if @div_pedido %> 
  <%= link_to '',edit_compra_path(compra), class: 'btn btn-info btn-lg glyphicon glyphicon-cutlery', :title => "Preparar pedido" %>
  <% end %>
  </div>
  </td>
</tr>