<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @compra.fecha %>
</p>
<div class="btn-group-vertical">

<%= link_to 'Volver', compras_path, class: 'btn btn-default'  %>

</div>

