<!DOCTYPE html>
<html>
	<p><%= @compra.fecha if @compra%></p>
<body><h1>Califica tu compra</h1>

<div class="ec-stars-wrapper">
	<%= link_to '&#9733;'.html_safe, {:controller => :califica, :action => :create, :compra => @compra, :valor => 1}, class: 'prueboClase'%>
	<%= link_to '&#9733;'.html_safe, {:controller => :califica, :action => :create, :valor => 2}, class: 'prueboClase'%>
	
	
	
</div>
</body>
</html>