<tr>
  <td><%= empresa.rut %></td>
  <td><%= empresa.nombre %></td>
  <td>
  <div>
  <div class="btn-group ">

    
            <%= link_to '',empresa, class: 'btn btn-success btn-sm glyphicon glyphicon-eye-open', :title => "Ver" %>
            
    
    
  
  
  </div>
  </td>
</tr>