<p id="notice"><%= notice %></p>

<h1>Franjas</h1>
<br>
<div class="col-md-12">
  <div class="btn-group btn-group-justified">
    <%= link_to 'Nueva Franja', new_franja_path, class: 'btn btn-default'  %>
  
    <%= link_to 'Volver', root_path, class: 'btn btn-default' %>

  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="listing">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>1ra franja</th>
              <th>$ ticket</th>
              <th>2da franja</th>
              <th>$ ticket</th>
              <th>Superiores a</th>
              <th>$ ticket</th>
              <th colspan="3"></th>
            </tr>
       </thead>

  
        <tbody>
                <%= render @franjas %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
  </div>

<br>
